/* подключение шрифта */


@font-face {
font-weight: 400;
font-family: "Open Sans";
font-style: normal;
src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"),
url("../fonts/opensans.woff") format("woff");
}

@font-face {
font-weight: 300;
font-family: "Open Sans";
font-style: normal;
src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"),
url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
font-weight: 300;
font-family: "Gilroy";
font-style: normal;
src: local("Gilroy-Light"), local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"),
url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
font-weight: 800;
font-family: "Gilroy";
font-style: normal;
src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"),
url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


/* Начало базовой стилизации (шрифты, фокусы, ховеры др.) */


.btn {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  border: none;
  cursor: pointer;

}


/* -------HEADER------ */
.page-header {
  background-color: #f7e296;

}

.navigation-block ul {
  list-style: none;
}

.navigation-block a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black;
  letter-spacing: 0.01em;
}

.navigation-block input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  border: none;
}

.navigation-block input::-moz-placeholder {
  color: rgba(0,0,0, 0.3);
}

.navigation-block input::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.3);
}

.navigation-top a {
  line-height: 30px;
}

.main-navigation a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

.catalog-items a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.01em;
}




/* ------catalog-slider------ */

.slider-page {
  letter-spacing: 0.01em;
}

.slider-title b {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.slider-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.slider-table .col-1 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: black;
}

.slider-table .col-2 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}



/* -----------Popular-block-------- */


.popular-block {
  letter-spacing: 0.01em;
}

.popular-block a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.popular-block ul {
  list-style: none;
}

/* -------------Services---------- */


.services {
  letter-spacing: 0.01em;
}

.services ul {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  letter-spacing: 0.2em;
}

.services-list li:nth-child(1) {
  color: #f7e184;
}

.services label:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider b {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.services-slider p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.logotypes-list {
  list-style: none;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-us p,
.contacts p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #464646;
}

.about-us ul p {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
}

.page-footer {
  color: white;
  background-color: #464646;
  letter-spacing: 0.01em;
}

.page-footer p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer-services ul {
  list-style: none;
}

.page-footer a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: white;
}

.footer-services {
  list-style: none;
}

.footer-services a {

  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.feedback-form label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.feedback-form input,
.feedback-form textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  color: rgba(0,0,0, 0.3);
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  color: rgba(0,0,0, 0.3);
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.3);
}


/* CATALOG PART-STYLE */


.page-main-catalog {
  letter-spacing: 0.01em;
}

.user-block .grey-style {
  color: rgba(0,0,0, 0.3);
}

.catalog-name {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: black;
}

.catalog-name-breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0,0,0, 0.3);
}

.catalog-goods-sort p {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: Uppercase;
}

.catalog-goods-sort ul {
  list-style: none;
}

.catalog-goods-filter a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.catalog-filter-form p {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-goods-grey {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-form label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.bluetooth-toggle label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.catalog-filter-form ul {
  list-style: none;
}

.pagination a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: black;
}

.pagination .pagination-uppercase {
  text-transform: uppercase;
}
.pagination-list {
  list-style: none;
}

.pagination .pagination-grey {
  color: rgba(0,0,0, 0.3);
}

.catalog-goods-list {
  list-style: none;
  color: black;
}

.catalog-goods-item a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.catalog-goods-item p {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.catalog-goods-hover .catalog-goods-grey {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0,0,0, 0.3);
}

/* фоны */

.catalog-filter {
  background-color: #efefef;
}

.catalog-goods-sort {
  background-color: #ebebeb;
}

.catalog-filter-bkg {
  background-color: #dcdcdc;
}

.pagination-list {
  background-color: #ebebeb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/*-----------------------------------------------------
             Начало сетки index
-------------------------------------------------------*/

/*-----------------------------------------------------*/
            /* Снимаю паддинги и маргины */

.page-header ul,
.page-header h1 {
  margin: 0;
  padding: 0;
}
.catalog-wrapper p {
  margin: 0;
  padding: 0;
}

.popular-block ul {
  margin:0;
  padding: 0;
}

.services ul,
.services p {
  margin:0;
  padding: 0;
}

.logotypes-list {
  margin:0;
  padding: 0;
}

.page-footer ul {
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------------
             Header
-------------------------------------------------------*/

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding: 0 60px;
  padding-top: 35px;
  margin-top: 40px;
  min-height: 300px;

  position: relative;
}

.navigation-block {
  display: flex;
  flex-direction: column;
}

.navigation-top,
.buyer-block,
.main-navigation-list,
.catalog-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main-navigation-list {
  margin-bottom: 53px;
}

.navigation-top {
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-block input {
  padding-left: 39px;
  height: 50px;
}

.user-block a {
  padding-left: 27px;
  margin-left: 110px;
}

.buyer-block-compare a {
  padding-left: 20px;
}

.buyer-block-basket a {
  padding-left: 24px;
  margin-left: 41px;
}

.item-catalog {
  width: 230px;
  padding-right: 16px;
  margin-right: 294px;
}

.item-delivery {
  margin-right: 38px;
}

.item-guarantee {
  margin-right: 105px;
}

.catalog-items {
  padding-top: 20px;
}

.catalog-items ul:first-child {
  margin-right: 60px;
}

.catalog-items ul:nth-child(2) {
  margin-right: 78px;
}


/*-----------------------------------------------------------------------------
             Main-Catalog/popular/services/logotypes/abot-us/contacts
------------------------------------------------------------------------------*/

.page-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  width: 1160px;
  min-height: 373px;
  margin-bottom: 85px;
}

.popular-block {
  width: 1160px;
  margin-bottom: 85px;
}

.popular-wrap {
  margin: 0 auto;
}

.popular-wrap ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.services-wrapper {
  width: 1160px;
  margin-bottom: 85px;
  padding: 80px 0 70px 20px;
}

.services {
  display: flex;
  justify-content: space-around;
  width: 1160px;
}

.services-list {
  width: 285px;
}

.logotypes {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 85px;

}

.logotypes-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-us,
.contacts {
  width: 560px;
  padding-top: 58px;
  margin-bottom: 82px;
}

.contacts {
  margin-left: 40px;
}

/*-----------------------------------------------------
             Footer
-------------------------------------------------------*/

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 65px 0;
}

.footer-top,
.footer-middle,
.footer-bottom,
.footer-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer-services {
  width: 440px;
}
/*-----------------------------------------------------*/
            /* Снимаю паддинги и маргины */

.catalog-nav .catalog-name,
.catalog-nav .catalog-name-breadcrumbs,
.catalog-filter p,
.catalog-filter ul,
.catalog-goods p,
.catalog-goods ul {
  margin: 0;
  padding: 0;
}




/*-----------------------------------------------------
             Начало сетки Catalog
-------------------------------------------------------*/



.inner-page .page-header {
  min-height: 185px;
  margin-bottom: 45px;
}

.page-main-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.catalog-nav {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding-left: 60px;
}

.catalog-nav .catalog-name-breadcrumbs {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 48px;
}

.breadcrumbs-item {
  padding-right: 39px;
}

.catalog-filter {
  width: 200px;
  padding-left: 60px;
  padding-right: 68px;
}

.catalog-goods {
  width: 832px;
}

.catalog-goods-list,
.catalog-goods-filter,
.catalog-goods-sort,
.pagination-list {
  display: flex;
  flex-direction: row;
}

.catalog-goods-sort {
  padding: 25px 0px 25px 70px;

}

.catalog-goods-sort,
.catalog-goods-filter {
  align-items: baseline;
}

.catalog-goods .catalog-goods-filter {
  margin-left: 50px;
}

.catalog-goods-grey {
  padding-left: 30px;
}
.catalog-goods .catalog-goods-list {
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 30px;
}
.catalog-goods-item {
  width: 360px;
  height: 460px;
}

.pagination {
  display: flex;
  margin-left: 50px;
  margin-bottom: 45px;
}

.catalog-goods .pagination-list {
  width: 700px;
  padding: 25px 30px;
}

.pagination-list .pagination-item:nth-child(1) {
  margin-right: auto;
}

.pagination-list .pagination-item:nth-child(5) {
  margin-left: auto;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
}

.catalog-filter .catalog-filter-bkg {
  padding: 25px 0;
  margin-bottom: 70px;
}
.range {
  min-height: 140px;
}

.checkbox-color {
  min-height: 285px;
}

.bluetooth-toggle {
  min-height: 150px;
  margin-bottom: 15px;
}















/*-----------------------------------------------------*/
            /* Частичная стилизация */
.search-block button {
  background-color: transparent;
  border: none;
}


/*-------------------------------------------------------*/

/*----------------------------------------------*/

.hidden-input {
  display: none;
}
.slider-page {
  display: none;
}

#btn-1:checked ~ .catalog-wrapper .slide-1,
#btn-2:checked ~ .catalog-wrapper .slide-2,
#btn-3:checked ~ .catalog-wrapper .slide-3 {
  display: block;
}

.services-slider {
  display:none;
}
#btn-4:checked ~ .services-wrapper .delivery-slide,
#btn-5:checked ~ .services-wrapper .guarantee-slide,
#btn-6:checked ~ .services-wrapper .credit-slide {
  display: block;
}
/*-------------------Стилизация header--------------------------------------*/


.main-logo {
  position: absolute;
  top: -17px;
}



/*---------------Стилизация каталога------------------*/

.catalog-radio {
  align-self: flex-end;
}
.slider-title {
  position: absolute;
  top: -30px;
}

.slider-page {
  width:560px;
}
.slider-image {
  position: absolute;
  left: 90px;
  top: -100px;
}

.slider-description {
  padding-top: 100px;
  margin-bottom: 40px;
}

.slider-description .description {
  padding-bottom: 10px;
  padding-right: 60px;
}

.slider-page .catalog-btn {
 width: 220px;
 height: 40px;

}

.slider-table {
  margin-top: 55px;
}

/*---------------Стилизация main------------------*/

.popular-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 160px;
  height: 238px;
}

