.visually-hidden {
	display: none;
}



body {
	background-color: lightgreen;
}
label {
	cursor:pointer;
	width: 150px;
	height: 50px;
	background-color: red; 
}




.slider-page {
	display: none;
}

.services-slider {
	display:none;
}

#btn-1:checked ~ .catalog-wrapper .slide-1,
#btn-2:checked ~ .catalog-wrapper .slide-2,
#btn-3:checked ~ .catalog-wrapper .slide-3 {
	display: block;
}

#btn-4:checked ~ .services-wrapper .delivery-slide,
#btn-5:checked ~ .services-wrapper .guarantee-slide,
#btn-6:checked ~ .services-wrapper .credit-slide {
	display: block;
}